body{
	background-image: url(../img/fondo3.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	color: #f5f5f5;
}

.principal{
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
	background-color: rgba(0,50,100,0.3);
}

.nav-wrapper{
	background-color: #90caf9 !important;
}

.nav{
	margin-top: 15px;
}

.bar-menu {
	position: fixed;
	z-index: 4;
	margin-left: 65vw;
}

.bar-nav ul li{
	padding: 10px;
	border-bottom: 1px solid white;
}

.mostrar ul li{
	padding: 10px;
	border-bottom: 1px solid white;
}

.bar-nav{
	margin-top: -250px;
}

.bar-nav ul li a{
	color: white;
	z-index: 5;
}

.mostrar ul li a{
	color: white;
	z-index: 5;
}

.ocultar{
	animation: ocultar 2s;
}

@keyframes ocultar{
	0%{
		margin-top: 0px;
	}

	100%{
		margin-top: -250px;
	}
}

.mostrar{
	animation: mostrar 2s;
}

@keyframes mostrar{
	0%{
		margin-top: -200px;
	}

	100%{
		margin-top: 0px;
	}
}

.logo{
	max-height: 140px;

}

.slider{
	overflow: hidden;
	width: 90%;
	height: 100%;
	max-height: 400px;
	margin: 0 auto;
	border-radius: 10px;
	border: solid 5px #90caf9;
}

.slider ul{
	display: flex;
	width: 400%;
	padding: 0;
	animation: cambio 20s infinite;
	margin-bottom: 0;
	margin-top: 0;
}

.slider ul li{
	width: 100%;
}

.slider ul li img{
	width: 100%;

	
}

@keyframes cambio {
	0% {margin-left: 0%;}
	20% {margin-left: 0%;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.contenido{
	width: 92%;
}

.vacio{
	max-height: 20px;
}

.cuadro{
	border-radius: 5px;
	border: 2px solid #f5f5f5;
	box-sizing: border-box;
	padding: 10px;
}

.cuadro ul{
	margin-left: 5%;
}

.cuadro ul li{
	list-style: circle;
}

.redes{
	position: fixed;
	bottom: 50vh;
	left: 30px;
}

.flex{
	display: flex;
}

.colu{
	text-align: center;
}

/* estilos de pagina about */

.supderecha .segcol .sala{
	padding: 0px;
}

.supderecha .segcol .sala img{
	width: 99%;
	height: 100%;
}

.supderecha .segcol .parrafo{
	padding: 0px;
	margin-top: -15px;
}

.supderecha .parrafo2{
	margin-bottom: 0px;
}

.supderecha{
	margin-bottom: 0px;
}

.why img{
	height: 140px;
}

.img-our{
	width: 100%;
}



/* ***************************************************  */

/*  ************** estilos pagina services ******************/
.lista ul li{
	list-style: disc;
}

.img img{
	width: 60%;
}


/* ****************************************************** */

/* ********************** estilos de galery **************/
.fila-galery .ul-galery{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.fila-galery .ul-galery li{
	width: 60%;
	max-height: 200px;
	max-width: 200px;
	margin: 0;
}

.fila-galery .ul-galery img{
	width: 90%;
	max-height: 180px;
	min-height: 180px;
	border-radius: 10px;
	margin: 0;
	border: solid white 2px;
}


/* ************************************************ */

/* *************** estilos location ******************** */

.fila-location .mapa iframe{
	width: 100%;
	display: block;
}

/*********************************************************/

@media (max-width: 770px){
	.principal{
		width: 100%;
	}
}

@media (max-width: 420px){
	.nav{
		display: none;
	}
/*
	.parrafo-services p span{
		text-align: center;
	}

	.lista{
		text-align: center;
	}*/
}